@CHARSET "UTF-8";

.clear{
	clear: both;
}

body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #333333;
	background-image: url(../img/bg.jpg);
	background-repeat: repeat;
	margin: 30px 0px 0px 0px;
}
h1, h2, h3, h4, h5, h6, p, ul, ol, li, form, input, textarea {
	padding: 0px;
	margin: 0px;
}
.main {
	width: 940px;
	margin: 0px auto;
}
.page {
	background-color: #FFFFFF;
	width: 1300px;
	float: left;
	padding: 0px 20px;
	margin-bottom: 20px;
    left: 50%;
    margin-left: -200px;
}
.header, .header-img {
	width: 1300px;
	float: left;
}

.content {
	width: 1300px;
	height: 1000px;
	float: left;
}
.leftpanel {
	background-color: #ededed;
	width: 220px;
	float: left;
	padding: 25px 20px;
	margin-right: -260px;
	position: relative;
	margin-top: 5px;
}
.leftpanel h2 {
	font-size: 14px;
	line-height: 100%;
	text-transform: uppercase;
	color: #000000;
	padding-bottom: 5px;
	margin-bottom: 17px;
	border-bottom-width: 1px;
	border-bottom-style: dashed;
	border-bottom-color: #cccccc;
}
.leftpanel ul {
	margin-bottom: 22px;
	list-style-type: none;
}
.leftpanel ul li {
	margin-bottom: 5px;
}
.leftpanel ul li a {
	font-size: 11px;
	font-weight: bold;
	color: #000000;
	text-decoration: none;
}
.leftpanel ul li a:hover {
	color: #23b14d;
}
.rightpanel {
	width: 0px;
	height: 1000px;
	box-shadow: 0px 9px 0px rgba(11, 91, 177, 1), 0px 9px 25px
		rgba(0, 0, 0, .7);
	float: left;
	border-left: solid 260px #eaeff3;
}
.rightbody {
	text-align: justify;
	width: 480px;
	float: left;
	padding: 25px 0px 25px 40px;
}
.rightbody strong {
	color: #000000;
}
.title {
	font-size: 14px;
	line-height: 100%;
	text-transform: uppercase;
	color: #000000;
	padding-bottom: 5px;
	margin-bottom: 17px;
	border-bottom-width: 1px;
	border-bottom-style: dashed;
	border-bottom-color: #cccccc;
}
.footer {
	background-image: url(../img/footer.jpg);
	background-repeat: repeat;
	background-position: left top;
	width: 1300px;
	height: 77px;
	float: left;
}
.footer p {
	font-size: 11px;
	line-height: 57px;
	color: #FFFFFF;
	text-align: center;
}
.footer-link {
	color:#ffffff; 
	text-decoration:none; 
}

.error {
	border: 1px solid;
	margin: 20px 0px;
	padding: 15px 10px 15px 70px;
	background-repeat: no-repeat;
	background-position: 10px center;
	color: #D8000C;
	background-color: #FFBABA;
	background-image: url('../img/error.png');
}

.indep-box,.shadow-conteiner,.bordered-box {
	margin-top: 20px;
}

.shadow-conteiner {
	box-shadow: 0px 9px 0px rgba(11, 91, 177, 1), 0px 9px 25px
		rgba(0, 0, 0, .7);
}

.bordered-box {
	border-style: outset;
	border-color: rgba(11, 91, 177, 1);
}

.estimate-button a {
	position: relative;
	color: rgba(255, 255, 255, 1);
	text-decoration: none;
	background-color: rgba(0, 107, 243, 1);
	font-family: 'Yanone Kaffeesatz';
	font-weight: 700;
	font-size: 2em;
	display: block;
	padding: 4px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	-webkit-box-shadow: 0px 9px 0px rgba(219, 31, 5, 1), 0px 9px 25px
		rgba(0, 0, 0, .7);
	-moz-box-shadow: 0px 9px 0px rgba(219, 31, 5, 1), 0px 9px 25px
		rgba(0, 0, 0, .7);
	box-shadow: 0px 9px 0px rgba(11, 91, 177, 1), 0px 9px 25px
		rgba(0, 0, 0, .7);
	margin-bottom: 50px;
	
	text-align: center;
	-webkit-transition: all .1s ease;
	-moz-transition: all .1s ease;
	-ms-transition: all .1s ease;
	-o-transition: all .1s ease;
	transition: all .1s ease;
}

.estimate-button a:active {
	background-color: rgba(219, 31, 5, 1);
	-webkit-box-shadow: 0px 3px 0px rgba(219, 31, 5, 1), 0px 3px 6px
		rgba(0, 0, 0, .9);
	-moz-box-shadow: 0px 3px 0px rgba(219, 31, 5, 1), 0px 3px 6px
		rgba(0, 0, 0, .9);
	box-shadow: 0px 3px 0px rgba(219, 31, 5, 1), 0px 3px 6px
		rgba(0, 0, 0, .9);
	position: relative;
	top: 6px;
}

#sequence {
	list-style-type: none;
	margin: 0;
	padding: 0;
	width: 60%;
}

#sequence li {
	margin: 0 3px 3px 3px;
	padding: 0.4em;
	padding-left: 1.5em;
	font-size: 1.4em;
	height: 18px;
}

#sequence li span {
	position: absolute;
	margin-left: -1.3em;
}





/** Top menu style **/


#nav {
	margin: 0;
	padding: 7px 6px 0;
	background: #7d7d7d url(../img/gradient.png) repeat-x 0 -110px;
	line-height: 100%;

	border-radius: 2em;
	-webkit-border-radius: 2em;
	-moz-border-radius: 2em;

	-webkit-box-shadow: 0 1px 3px rgba(0,0,0, .4);
	-moz-box-shadow: 0 1px 3px rgba(0,0,0, .4);
	
	z-index: 5;
}
#nav li {
	margin: 0 5px;
	padding: 0 0 8px;
	float: left;
	position: relative;
	list-style: none;
	z-index: 5;
}


/* main level link */
#nav a {
	font-weight: bold;
	color: #e7e5e5;
	text-decoration: none;
	display: block;
	padding:  8px 20px;
	margin: 0;

	-webkit-border-radius: 1.6em;
	-moz-border-radius: 1.6em;
	
	text-shadow: 0 1px 1px rgba(0,0,0, .3);
	z-index: 5;
}
#nav a:hover {
	background: #000;
	color: #fff;
    z-index: 5;
}

/* main level link hover */
#nav .current a, #nav li:hover > a {
	background: #666 url(../img/gradient.png) repeat-x 0 -40px;
	color: #444;
	border-top: solid 1px #f8f8f8;

	-webkit-box-shadow: 0 1px 1px rgba(0,0,0, .2);
	-moz-box-shadow: 0 1px 1px rgba(0,0,0, .2);
	box-shadow: 0 1px 1px rgba(0,0,0, .2);

	text-shadow: 0 1px 0 rgba(255,255,255, 1);
	
	z-index: 5;
}

/* sub levels link hover */
#nav ul li:hover a, #nav li:hover li a {
	background: none;
	border: none;
	color: #666;

	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	
	z-index: 5;
}
#nav ul a:hover {
	background: #0078ff url(../img/gradient.png) repeat-x 0 -100px !important;
	color: #fff !important;

	-webkit-border-radius: 0;
	-moz-border-radius: 0;

	text-shadow: 0 1px 1px rgba(0,0,0, .1);

	z-index: 5;
}

/* dropdown */
#nav li:hover > ul {
	display: block;
	z-index: 5;
}

/* level 2 list */
#nav ul {
	display: none;

	margin: 0;
	padding: 0;
	width: 185px;
	position: absolute;
	top: 35px;
	left: 0;
	background: #ddd url(../img/gradient.png) repeat-x 0 0;
	border: solid 1px #b4b4b4;

	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;

	-webkit-box-shadow: 0 1px 3px rgba(0,0,0, .3);
	-moz-box-shadow: 0 1px 3px rgba(0,0,0, .3);
	box-shadow: 0 1px 3px rgba(0,0,0, .3);
	z-index: 5;
}
#nav ul li {
	float: none;
	margin: 0;
	padding: 0;
	z-index: 5;
}

#nav ul a {
	font-weight: normal;
	text-shadow: 0 1px 0 #fff;
	z-index: 5;
}

/* level 3+ list */
#nav ul ul {
	left: 181px;
	top: -3px;
	z-index: 5;
}

/* rounded corners of first and last link */
#nav ul li:first-child > a {
	-webkit-border-top-left-radius: 9px;
	-moz-border-radius-topleft: 9px;

	-webkit-border-top-right-radius: 9px;
	-moz-border-radius-topright: 9px;
	z-index: 5;
}
#nav ul li:last-child > a {
	-webkit-border-bottom-left-radius: 9px;
	-moz-border-radius-bottomleft: 9px;

	-webkit-border-bottom-right-radius: 9px;
	-moz-border-radius-bottomright: 9px;
	z-index: 5;
}

/* clearfix */
#nav:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
	z-index: 5;
}
#nav {
	display: inline-block;
	z-index: 5;
}


.selectable-list .ui-selecting {
	background: #b4b4b4;
}

.selectable-list .ui-selected {
	background: #0078ff;
	color: white;
}

.selectable-list {
	list-style-type: none;
	margin: 0;
	padding: 0;
	width: 100%;
}

.selectable-list li {
	margin: 3px;
	padding: 0.4em;
	font-size: 1.4em;
	height: 18px;
}